.main-navbar {
  background-color: #F8F9FA;
}

.main-navbar a, .main-navbar a:hover {
  color: #1F1F1F;
  text-decoration: none;
  font-size: 20px;
}

.btn-flat a {
  color: #007BFF;
  border: 1px solid #007BFF;
  border-radius: 5px;
  padding: 10px 12px;
  font-size: 17px;
}

.btn-flat a:hover {
  color: white;
  background-color: #007BFF;
}
